{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties"
    ]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
